body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
  
} @media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}
  @media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}

section {
  padding: 2rem;
}

#hero {
  background: blue;
  color: white;
  text-align: center;
  padding: 4rem 2rem;
}

#projects .project {
  border: 1px solid greenyellow;
  padding: 1rem;
  margin-bottom: 1rem;
}

form input, form textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}



